* {
	box-sizing: border-box;
}

.App {
	padding: 1rem;
	text-align: center;
}

.Contract {
	margin-top: 1rem;
	padding: 0.5rem;
	background: #ede7f6;
	border-radius: 1rem;
}

.Contract > h2 {
	width: fit-content;
	margin: auto;
	background-color: ivory;
	padding: 1rem;
	border-radius: 1rem;
}

.Contract-details {
	width: fit-content;
	padding: 1rem;
	margin: 1rem;
	background-color: ivory;
	text-align: left;
	border-radius: 1rem;
}

.input {
	float: left;
	margin-right: 0.5rem;
	margin-bottom: 0.4rem;
}

.btn {
	margin-bottom: 0.5rem;
	float: left;	
}

button{
	padding: 0.2rem 0.5rem 0.3rem 0.5rem;
	background-color: #ede7f6;
	border-radius: 5px;
	border-style: none;
}

button:hover {
	cursor: pointer;
	background-color: #ede0d6;
}

form {
	padding-bottom: 1.5rem;
	margin-bottom: 1.5rem;
}

hr {
	clear: both;
}

@media (max-width: 599px) {
	.Account-info {
		display: grid;
		padding: 0 0 1% 0;
		grid-template-columns: 1fr;
		justify-content: space-around;
		grid-gap: 1rem;
		align-items: center;
	}

	.Account-info :nth-child(1) {
		background: #ede7f6;
		padding: 1.5rem;
		height: 100%;
		width: 100%;
		border-radius: 1rem;
	}

	.Account-info :nth-child(2) {
		background: #ede7f6;
		padding: 1.5rem;
		width: 100%;
		height: 100%;
		border-radius: 1rem;
	}

	.Contract-details{
		width: min-content;
		margin: 1rem auto 1rem auto;
	}
}

@media (min-width: 600px) {
	.Account-info {
		display: grid;
		padding: 0 0 1% 0;
		grid-template-columns: 1fr 1fr;
		grid-gap: 1rem;
		align-items: center;
	}

	.Account-info :nth-child(1) {
		background: #ede7f6;
		text-align: left;
		height: 100%;
		padding: 1.5rem;
		border-radius: 1rem;
		width: fit-content;
	}
	.Account-info :nth-child(2) {
		place-self: end;
		justify-content: center;
		align-self: start;

		background: #ede7f6;
		height: fit-content;
		padding: 1.5rem;
		width: fit-content;

		border-radius: 1rem;
	}
}
